@model PersonalAccount.Models.LogRegViewModel

<div class="row card">
    @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { UpdateTargetId = "Login_Partial" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(t => t.Logins.Email)
                @Html.TextBoxFor(t => t.Logins.Email, new { @class = "form-control border-input" })
                @Html.ValidationMessageFor(t => t.Logins.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(t => t.Logins.Password)
                @Html.PasswordFor(t => t.Logins.Password, new { @class = "form-control border-input" })
                @Html.ValidationMessageFor(t => t.Logins.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group text-center">
                @Html.CheckBoxFor(t => t.Logins.RememberMe)
                @Html.LabelFor(t => t.Logins.RememberMe)
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-fill btn-wd">Войти</button>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="text-center">
                <p>
                    @Html.ActionLink("Регистрация", "Register", "Account")
                </p>
                <p>
                    @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                </p>
            </div>
        </div>
    </div>
</div>



