@model PersonalAccount.Models.LoginViewModel
<div class="row card">
    <form method="post" action="/Account/Login" class="log-form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="col-md-12">
            <div class="form-group">
                <label>Логин</label>
                @Html.TextBoxFor(t => t.Email, new { @class = "form-control border-input" })
                @Html.ValidationMessageFor(t => t.Email)
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Пароль</label>
                @Html.PasswordFor(t => t.Password, new { @class = "form-control border-input" })
                @Html.ValidationMessageFor(t => t.Password)
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.CheckBoxFor(t => t.RememberMe, new { @class = "form-control border-input checkbox" })
                <label>Запомнить меня</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-fill btn-wd">Войти</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <div class="form-group">
            <div class="text-center">
                <a href="Register">Регистрация</a>
            </div>
        </div>
    </div>
</div>